/* * {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    padding: 10px;
}

li:hover {
    color: rgb(237, 67, 67);
    cursor: pointer;
    font-size: larger;
} */

้ * {
    box-sizing: border-box;
    padding: 0%;
    margin: 0%;
}

li {
    font-size: 20px;
    margin: 5px;
    font-weight: bold;
    color: #161616;
    cursor: pointer;
    transition: 0.5s ease;
    padding-bottom: 1px;
}

li:hover {
    transform: scale(1);
    color: #f8f9fa;
    background-color: #df8c8c;
    padding:  5px;
    border-radius: 5px;
}

li {
    color: rgb(49, 27, 29);
    padding: 2px;
    text-decoration: underline;
}

.post-info{
    background-color: #df8c8c;
    padding: 15px;
    border-radius: 5px;
    width: 80vw;
}
